{
"timePeriods": [{"startMins":0,"endMins":1440}],
"ledEnabled": true,
"lowVoltageCutoffEnabled": true,
"batteryLevelCheckEnabled": true,
"sampleRate": 48000,
"gain": 2,
"recordDuration": 60,
"sleepDuration": 540,
"localTime": false,
"firstRecordingDateEnabled": false,
"lastRecordingDateEnabled": false,
"dutyEnabled": true,
"filenameWithDeviceIDEnabled": true,
"passFiltersEnabled": false,
"filterType": "none",
"lowerFilter": 0,
"higherFilter": 0,
"amplitudeThresholdingEnabled": false,
"amplitudeThreshold": 0.001,
"minimumAmplitudeThresholdDuration": 0,
"frequencyTriggerEnabled": false,
"frequencyTriggerWindowLength": 64,
"frequencyTriggerCentreFrequency": 12000,
"minimumFrequencyTriggerDuration": 0,
"frequencyTriggerThreshold": 0.001,
"requireAcousticConfig": true,
"dailyFolders": true,
"displayVoltageRange": false,
"amplitudeThresholdScale": "percentage",
"version": "1.12.1",
"energySaverModeEnabled": false,
"disable48DCFilter": false,
"lowGainRangeEnabled": false,
"timeSettingFromGPSEnabled": false,
"gpsFixTime": 2,
"acquireGpsFixBeforeAfter": "period",
"magneticSwitchEnabled": false,
"sunScheduleEnabled": false
}